@charset "utf-8";

body {
  background-color: hsl(187, 100%, 60%);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: hsl(187, 100%, 20%);
  font-size: 5rem;
  letter-spacing: 2.5rem;
 
}

p {
  background-color: hsl(187, 100%, 40%);
  font-size: 2rem;
  font-style: oblique;
  color: hsl(187, 100%, 20%);

  border: hsl(187, 100%, 20%) 5px dashed;
  width: 16rem;
  height: 16rem;
  margin: 10px;
  padding: 10px;

  float: left;  
  overflow: auto;
 
  }

p::first-letter {
  color: hsl(187, 100%, 20%);
  font-size: 4rem;
  line-height: 3rem; 
  float: left;
 
}